<form action="/login/" method="post" id="login-form"{% if addfriend %} style="display: none;"{% endif %} {% if signup %}
    style="display: none;"{% endif %}{% if addexpense %} style="display: none;"{% endif %} >

	<!-- Login form -->
    {% if error %}
    <div class="error">Sorry, I don't think that's not a valid username or password.{{ form.errors }}</div>
  {% endif %}
    {% csrf_token %}
  <div id="login-username" class="clearfix">
    <label for="username">User name:</label>
    <input type="text" name="username" value="" id="username" />
  </div>
  <div id="login-password" class="clearfix">
    <label for="password">Password:</label>
    <input type="password" name="password" value="" id="password" />
  </div>
    <input type="submit" value="Login" class="submit"/>
     </div>
</form>

<form action="/signup/" method="post" id="signup-form"{% if not signup %} style="display: none;"{% endif %}>
    {% csrf_token %}
  {% if signup_form.username.errors and data %}<div class="error">{{ signup_form.username.errors }}</div>{% endif %}
  <div id="signup-username" class="utilities1 clearfix">
    <label for="username">User name:</label>
    <input id="username" type="text" name="username" maxlength="30" value="{{data.username}}" />
  </div>
   {% if signup_form.first_name.errors and data %}<div class="error">{{ signup_form.first_name.errors }}</div>{% endif %}
  <div id="signup-first_name" class="clearfix utilities1">
    <label for="first_name">First Name:</label>
    <input id="first_name" type="text" name="first_name" value="{{ data.first_name }}" />
  </div>
  {% if signup_form.last_name.errors and data %}<div class="error">{{ signup_form.last_name.errors }}</div>{% endif %}
  <div id="signup-last_name" class="clearfix utilities1">
    <label for="last_name">Last Name:</label>
    <input id="last_name" type="text" name="last_name" value="{{ data.last_name }}" />
  </div>
{% if signup_form.password1.errors and data %}<div class="error">{{ signup_form.password1.errors }}</div>{% endif %}
  <div id="signup-password1" class="clearfix utilities1">
    <label for="password1">Password:</label>
    <input id="password1" type="password" name="password1" maxlength="60" value="{{ data.password1 }}" />
  </div>
  {% if signup_form.password2.errors and data %}<div class="error">{{ signup_form.password2.errors }}</div>{% endif %}
  <div id="signup-password2" class="clearfix utilities1">
    <label for=_"password2">Again:</label>
    <input id="password2" type="password" name="password2" maxlength="60" value="{{ data.password2 }}"/>
  </div>
  <div id="signup-submit" class="submit clearfix">
    <input type="submit" value="Signup" class="submit" />
  </div>
</form>

<form action="/addfriend/" method="post" id="addfriend-form"{% if not addfriend %} style="display: none;"{% endif %}>
    {% csrf_token %}
     {% if addfriend_form.first_name.errors and data %}<div class="error">{{ addfriend_form.first_name.errors }}</div>{% endif %}
  <div id="addfriend-first_name" class="clearfix utilities">
    <label for="first_name">First Name:</label>
    <input id="first_name" type="text" name="first_name" value="{{ data.first_name }}" />
  </div>
  {% if addfriend_form.last_name.errors and data %}<div class="error">{{ addfriend_form.last_name.errors }}</div>{% endif %}
  <div id="addfriend-last_name" class="clearfix utilities">
    <label for="last_name">Last Name:</label>
    <input id="last_name" type="text" name="last_name" value="{{ data.last_name }}" />
  </div>
  {% if addfriend_form.twitter_username.errors and data %}<div class="error">{{ addfriend_form.twitter_username.errors }}</div>{% endif %}
  <div id="addfriend-twitter_username" class="clearfix utilities">
    <label for="twitter_username">Twitter Username:</label>
    <input id="twitter_username" name="twitter_username" maxlength="60" value="{{ data.twitter_username }}"/>
</div>
 <div id="addfriend-friendof" style:"display: none;">
    <input type="hidden" id="friendof" name="friendof" maxlength="60" value="{{ user.username }}"/>
</div>


  <div id="signup-submit" class="utilities clearfix">
    <input type="submit" value="Add" class="submit" />
  </div>
</form>
<form action="/addexpense/" method="post" id="addexpense-form"{% if not addexpense %} style="display: none;"{% endif %}>
    {% csrf_token %}
     {% if addexpense_form.friend.errors and data %}<div class="error">{{ addexpense_form.friend.errors }}</div>{% endif %}
     <div id="addexpense-first_name" class="clearfix utilities">
         <label>Friend: </label>
      <select name="friend" for="friend" id="friend">
      {% for friend in friends %}
      <option value="{{friend.twitter_user }}">{{friend.twitter_user}}</option>
      {% endfor %}
        </select>
  </div>
  {% if addexpense_form.amount.errors and data %}<div class="error">{{ addexpense_form.amount.errors }}</div>{% endif %}
  <div id="addexpense-amount" class="clearfix utilities">
    <label for="amount">Amount:</label>
    <input id="amount" type="int" name="amount" value="{{ data.amount }}" />
  </div>
  <div id="signup-submit" class="utilities clearfix">
    <input type="submit" value="Add" class="submit" />
  </div>
</form>

