<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<!--    Title of the web page      -->
<title>Udhaar | Online Expenses Management System.{% if title %} - {{ title }}{% endif %}</title>

<meta name="keywords" content="Udhaar" />
<meta name="description" content="Online Expenses Management System.{% if title %} - {{ title }}{% endif %}" />
<meta name="language" content="en" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Language" content="en" />

<!-- Including CSS and all Js Files -->

<link rel="stylesheet" href="/managex/managex.css" media="all" type="text/css" />
<script type="text/javascript" src="/managex/jquery.min.js"></script>
<script type="text/javascript" src="/managex/managex.js"></script>
</head>
<body{% block body_styles %}{% endblock %}>
    <div id="header">
        <h1>UDHAR</h1>
    </div>
<div id="content" class="frame">
  <div id="content-inner">
    {% block content %}{% endblock %}
  </div>
</div>

</body>
</html>
