{% extends "base.html" %}

{% block content %}
{% if not user.is_authenticated %}
<div id="main" class="clearfix">
{% include "login.html" %}
</div>
{% else %}
<div id ="main" class="clearfix" >
    {% include "navigation.html" %}
    <div class="current" class="clearfix" style="margin-top:30px;">
    <div class="accordion">
        {% for key, value in  wall.items %}
        <h3>{{ key }}</h3>
        <pre>
        <table id="summary" cellspacing="1" cellpadding="2" border="0" width="100%">
        <col width=30% /><col width=50% /><col width=20% />
        {% for val in value %}
        <tr><td id="{{val.id}}">{{ val.amount }}</td>
        <td> {{ val.time}}</td>
        <td>Send DM</td>
        </tr>
        {% endfor %}
        </table>
        </pre>
        {% endfor %}
    </div>
    </div>
</div>
{% endif %}
{% endblock %}
