{% extends "base.html" %}

{% block content %}
{% if not user.is_authenticated %}
<div id="main" class="clearfix">
{% include "login.html" %}
</div>
{% else %}
<div id ="main" class="clearfix" >
    {% include "navigation.html" %}
    <div class="current" class="clearfix" style="margin-top:30px;">
    <div class="accordion">
        {% for key, value in  wall.items %}
        <h3 id="{{ key.0 }}@{{ key.1 }}">You owe "{{ key.0 }}" ({{ key.2 }}) Rs.({{ key.1 }}) </h3>
        <pre>
        {% if value %}
        <a href="#" id = "{{ key.2 }}@authorize_url" class="authorize_url">Send DM on Twitter</a>
        {% endif %}
        <table id="summary" cellspacing="1" cellpadding="2" border="0" width="100%">
        <col width=30% /><col width=40% /> {% if not history %}<col width=30%>{% endif %}
        {% for val in value %}
        <tr class="{{val.id}}row" id="{{val.id}}row"><td>{{ val.amount }}</td>
        <td> {{ val.time}}</td>
        {% if not history%}
        <td><img src="/managex/remove.png" id="{{val.id}}" alt="remove" title="Remove" ></td>
        {% endif %}
        </tr>
        {% endfor %}
        </table>
        </pre>
        {% endfor %}
    </div>
    </div>
</div>
{% endif %}
{% endblock %}
